/* Estilos generales */
body {
    font-family: 'Comic Sans MS', cursive; /* O una fuente similar a las caricaturas */
    background: linear-gradient(to bottom, #D2B48C, #F5DEB3); /* Degradado de café claro */
    color: #000; /* Texto negro para mejor contraste sobre el fondo claro */
}


/* Estilos para las barras de navegaci�n */
nav {
    background-color: #00468b; /* Azul m�s oscuro para las barras */
    color: #fff;
}

/* Estilos para el bot�n "Create New" */
a.create-new-button {
    background-color: #007bff; /* Azul claro, similar al de Bootstrap */
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Quitar subrayado */
    font-weight: bold;
}

/*
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/