@model BibliotecaWebApplication.Models.AutorLibro

@{
    ViewData["Title"] = "Details AutorLibro";
}

<h1>Details AutorLibro</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Autor</dt>
        <dd class="col-sm-10">@Model.Autor.Nombres</dd>

        <dt class="col-sm-2">Libro</dt>
        <dd class="col-sm-10">@Model.Libro.Titulo</dd>
    </dl>

    <a asp-action="Edit" asp-route-autorId="@Model.AutorId" asp-route-libroId="@Model.LibroId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
