@model BibliotecaWebApplication.Models.AutorLibro

@{
    ViewData["Title"] = "Editar Relación Autor-Libro";
}

<h1>Editar Relación Autor-Libro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-autorId="@Model.AutorId" asp-route-libroId="@Model.LibroId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutorId" />
            <input type="hidden" asp-for="LibroId" />
            <div class="form-group">
                <label asp-for="AutorId">Autor:</label>
                <select asp-for="AutorId" class="form-control" id="AutorId"></select>
                <span asp-validation-for="AutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroId">Libro:</label>
                <select asp-for="LibroId" class="form-control" id="LibroId"></select>
                <span asp-validation-for="LibroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#AutorId").select2();
            $("#LibroId").select2();
        });
    </script>
}