@model IEnumerable<BibliotecaWebApplication.Models.ViewModels.UserRolesViewModel>

<h2>Manage User Roles</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-left">Email</th>
            <th class="text-left">Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="text-left">@user.Email</td>
                <td class="text-left">
                    @if (user.Roles.Any())
                    {
                        @foreach (var role in user.Roles)
                        {
                            @role
                            <br />
                        }
                    }
                    else
                    {
                        @: No Roles Assigned
                    }
                </td>
                <td>
                    <a asp-action="Manage" asp-route-userId="@user.UserId" class="btn btn-info me-2">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>